.title-experience{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title-experience h2{
    color: white;
}
.border-experience{
    position: relative;
    display: flex;
    border: 1px solid white;
    background-color: white;
    width: 13%;
    height: 3px;
    border-radius: 10px;
}
.sub-border-exp{
    position: absolute;
    left: 33%;
    top: -4px;
    border: 1px solid #283593;
    background: #283593;
    border-radius: 10px;
    height: 9px;
    width: 33%;
}
.single-experience-container{
    background: #283593;
    padding: 30px;
    border-radius: 10px;
    margin-top: 60px;
}
.single-experience{
    position: relative;
    padding: 10px 30px;
}
.single-experience::before{
    position: absolute;
    left: 0;
    top: 0;
    width: 1.7px;
    height: 100%;
    content: "";
    background: #1A237E;
    color: #1A237E;
}
.experience-icon{
    position: absolute;
    top: 10px;
    left: -8px;
    color: #1A237E;
    font-size: 1.2rem;
}

.single-experience h6{
    color: #bcaaa4;
}
.single-experience h5{
    color: white;
}
.single-experience p{
    color: #bcaaa4;
}